body {
    background-image: url(../images/darkness.png);
}

span, h2 {
    color: #ffffff;
}

.jumbo-custom {
    background-color: transparent;
    color: #00A4BC;
    margin: 0;
    padding: 1rem 0 0 0;
}

.downloadButton, .favoriteButton {
    background-color: transparent;
    color: #00A4BC;
    border-color: transparent;
}

.downloadButton:hover , .favoriteButton:hover {
    cursor: pointer; 
    background-color: #ffffff;
    color: #000000; 
}

.gifImage {
    border: 1px solid transparent;
}

.gifImage:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

#player {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;  
}
    